.table-container {
  max-height: calc(100vh - 160px); /* Adjust based on header and footer height */
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: auto; /* Enable horizontal scrolling if needed */
  width: 100%;
  box-sizing: border-box;
  flex: 1; 
  border-radius: 5px;
}
.dataGrid {
  width: 100%;
  border-collapse: collapse;
  padding: 0px;
}

.dataGrid table{
  border-radius: 5px;
}

.dataGrid th, .dataGrid td {
  padding: 15px;
  font-size: 25px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 1px solid rgb(51 193 255);
  text-align: center;
}

.dataGrid thead {
  background-color: rgb(133, 218, 252);
  padding: 10px;
  color: #000000;
}

.dataGrid th {
  background-color: rgb(178 230 253);
  font-weight: bold;
}

.dataGrid tbody tr:nth-child(even) {
  background-color: rgb(201, 238, 253);
}

.dataGrid tbody tr:hover {
  background-color: rgb(162, 226, 255);
}

.dataGrid th .sort-arrow {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 10px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
  visibility: hidden;
}

.dataGrid th.sort-asc .sort-arrow {
  visibility: visible;
  border-top: 5px solid black;
}

.dataGrid th.sort-desc .sort-arrow {
  visibility: visible;
  border-bottom: 5px solid black;
  border-top: none;
}

.dataGrid tr:hover {
  background-color: #f1f1f1;
}


.spacerRow {
  height: 100%; /* Ensure it fills the remaining space */
}